In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')

train_df.info()

train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
train_df['Survived'].value_counts(normalize=True)

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [6]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
train_df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [8]:
train_df.groupby('Sex')['Survived'].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [9]:
male_survived = 109
female_survived = 233

total_survived = male_survived + female_survived  # 342

male_percent_of_survivors = (male_survived / total_survived) * 100
female_percent_of_survivors = (female_survived / total_survived) * 100

print(f"Male survivors (% of total survivors): {male_percent_of_survivors:.2f}%")
print(f"Female survivors (% of total survivors): {female_percent_of_survivors:.2f}%")

Male survivors (% of total survivors): 31.87%
Female survivors (% of total survivors): 68.13%

In [10]:
train_df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [11]:
import pandas as pd
from scipy.stats import chi2_contingency

table = pd.crosstab(train_df['Sex'], train_df['Survived'])

chi2, p, dof, expected = chi2_contingency(table)

print(f"Chi-squared p-value: {p:.4f}")

Chi-squared p-value: 0.0000

### Reject the null hypothesis (H₀)
#### Gender does affect survival chances.

In [12]:
train_df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [13]:
train_df.groupby('Pclass')['Survived'].sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [14]:
pclass_survivors = train_df.groupby('Pclass')['Survived'].sum()

total_survived = pclass_survivors.sum()

pclass_survival_percent = (pclass_survivors / total_survived) * 100
 
for pclass, percent in pclass_survival_percent.items():
    print(f"Pclass {pclass} survivors (% of total survivors): {percent:.2f}%")

Pclass 1 survivors (% of total survivors): 39.77%
Pclass 2 survivors (% of total survivors): 25.44%
Pclass 3 survivors (% of total survivors): 34.80%

In [15]:
train_df.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [16]:
from scipy.stats import ttest_ind

survivors_age = train_df[train_df['Survived'] == 1]['Age'].dropna()
non_survivors_age = train_df[train_df['Survived'] == 0]['Age'].dropna()

t_stat, p = ttest_ind(survivors_age, non_survivors_age)

print(f"T-test p-value: {p:.4f}")

T-test p-value: 0.0391

#### There's some evidence that survivor age differs from non-survivor age, but it's not quite strong enough at the 5% level.

### Data Cleaning and Feature Engineering

In [17]:
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())

train_df['Embarked'] = train_df['Embarked'].fillna(train_df['Embarked'].mode()[0])

# Cabin: extract Deck letter, fill missing with 'U' for Unknown
train_df['Deck'] = train_df['Cabin'].str[0].fillna('U')

In [18]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Deck'],
      dtype='object')

Create Derived Features

In [19]:
# Family size (total number of family members on board/Adding 1 accounts for the passenger themself)
train_df['FamilySize'] = train_df['SibSp'] + train_df['Parch'] + 1

# 1 if the passenger is alone (FamilySize == 1) , 0 otherwise
train_df['IsAlone'] = (train_df['FamilySize'] == 1).astype(int)

# Extract title from name 
train_df['Title'] = train_df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)

Convert Categorical Variables

In [20]:
train_df = pd.get_dummies(train_df, columns=['Sex','Embarked','Title','Deck'],drop_first=True)

Features for Modeling

In [21]:
features = ['Pclass', 'Age', 'Fare', 'FamilySize', 'IsAlone'] + \
           [col for col in train_df.columns if col.startswith(('Sex_', 'Embarked_', 'Title_', 'Deck_'))]

X = train_df[features]
y = train_df['Survived']

In [22]:
print(X.shape)         
print(X.isnull().sum()) 
print(y.value_counts(normalize=True))

(891, 32)
Pclass            0
Age               0
Fare              0
FamilySize        0
IsAlone           0
Sex_male          0
Embarked_Q        0
Embarked_S        0
Title_Col         0
Title_Countess    0
Title_Don         0
Title_Dr          0
Title_Jonkheer    0
Title_Lady        0
Title_Major       0
Title_Master      0
Title_Miss        0
Title_Mlle        0
Title_Mme         0
Title_Mr          0
Title_Mrs         0
Title_Ms          0
Title_Rev         0
Title_Sir         0
Deck_B            0
Deck_C            0
Deck_D            0
Deck_E            0
Deck_F            0
Deck_G            0
Deck_T            0
Deck_U            0
dtype: int64
Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split ,cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score ,classification_report
from imblearn.over_sampling import SMOTE

SMOTE for class balancing

In [24]:
smote = SMOTE(random_state=42)
X_res , y_res = smote.fit_resample(X,y)

In [25]:
# check class balance after SMOTE
print(pd.Series(y).value_counts(normalize=True))   # Before
print(pd.Series(y_res).value_counts(normalize=True))  # After

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64
Survived
0    0.5
1    0.5
Name: proportion, dtype: float64

Split into train and validation sets

In [26]:
X_train, X_val, y_train, y_val = train_test_split(X_res, y_res, test_size=0.2, random_state=42)

Initialize models

In [27]:
models = {
    'Logistic Regression': LogisticRegression(max_iter=1000, random_state=42),
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'XGBoost': XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)
}

Train, predict, and evaluate

In [28]:
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    acc = accuracy_score(y_val, y_pred)
    results[name] = acc

for model_name, acc in results.items():
    print(f"{model_name} Validation Accuracy: {acc:.4f}")

Logistic Regression Validation Accuracy: 0.8864
Random Forest Validation Accuracy: 0.8409
XGBoost Validation Accuracy: 0.8773

c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:11:43] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [29]:
for name, model in models.items():
    cv_scores = cross_val_score(model, X_res, y_res, cv=5, scoring='accuracy')
    print(f"{name} CV Accuracy: {cv_scores.mean():.4f} ± {cv_scores.std():.4f}")

Logistic Regression CV Accuracy: 0.8289 ± 0.0474
Random Forest CV Accuracy: 0.8371 ± 0.0568

c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:11:45] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:11:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:11:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:11:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost CV Accuracy: 0.8269 ± 0.0098

c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:11:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

hyperparamter tuning

In [30]:
# for random forest
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100,200,300],
    'max_depth': [4,6,8,None],
    'min_samples_split': [2,5,10],
    'min_samples_leaf': [1,2,4]
}

rf = RandomForestClassifier(random_state=42)
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy',n_jobs=-1)
grid_search.fit(X_res, y_res)

print("Best Parameters:", grid_search.best_params_)
print("Best CV Accuracy:", grid_search.best_score_)

Best Parameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 300}
Best CV Accuracy: 0.8562141967621418

In [31]:
# for xgboost
xgb = XGBClassifier(
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42
)

param_grid = {
    'n_estimators': [100,200,300],
    'max_depth': [3,4,5],
    'learning_rate': [0.01,0.05,0.1],
    'subsample': [0.8,1.0],
    'colsample_bytree': [0.8,1.0],
    'gamma': [0,0.1,0.2]
}

grid_search = GridSearchCV(
    estimator=xgb,
    param_grid=param_grid,
    cv=5,
    scoring='accuracy',
    n_jobs=-1,
    verbose=1
)

grid_search.fit(X_res,y_res)

print(" Best Parameters:", grid_search.best_params_)
print(f" Best CV Accuracy: {grid_search.best_score_:.4f}")

Fitting 5 folds for each of 324 candidates, totalling 1620 fits
 Best Parameters: {'colsample_bytree': 0.8, 'gamma': 0.1, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200, 'subsample': 0.8}
 Best CV Accuracy: 0.8488

c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:12:36] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [32]:
best_xgb = XGBClassifier(
    colsample_bytree=0.8,
    gamma=0.1,
    learning_rate=0.1,
    max_depth=5,
    n_estimators=200,
    subsample=1.0,
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42
)

best_xgb.fit(X_res, y_res)

y_pred = best_xgb.predict(X_val) 

print("Validation Accuracy:", accuracy_score(y_val, y_pred))
print(classification_report(y_val, y_pred))

c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:12:36] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Validation Accuracy: 0.9409090909090909
              precision    recall  f1-score   support

           0       0.93      0.94      0.94       103
           1       0.95      0.94      0.94       117

    accuracy                           0.94       220
   macro avg       0.94      0.94      0.94       220
weighted avg       0.94      0.94      0.94       220

Retrain on the Full (Balanced) Data

In [33]:
best_xgb.fit(X_res, y_res)

y_pred_full = best_xgb.predict(X_res)
print("Training Accuracy:", accuracy_score(y_res, y_pred_full))
print(classification_report(y_res, y_pred_full))

Training Accuracy: 0.9371584699453552
              precision    recall  f1-score   support

           0       0.91      0.97      0.94       549
           1       0.96      0.91      0.94       549

    accuracy                           0.94      1098
   macro avg       0.94      0.94      0.94      1098
weighted avg       0.94      0.94      0.94      1098

c:\Users\USER\anaconda3\envs\dsenv\lib\site-packages\xgboost\core.py:158: UserWarning: [10:12:36] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Look into test.csv

In [34]:
test_df = pd.read_csv('test.csv')

test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [35]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [36]:
# fill misiing values
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].median())
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [37]:
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())
test_df['Deck'] = test_df['Cabin'].str[0].fillna('U')

test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
Deck             0
dtype: int64

In [38]:
test_df['FamilySize'] = test_df['SibSp'] + test_df['Parch'] + 1
test_df['IsAlone'] = (test_df['FamilySize'] == 1 ).astype(int)

test_df['Title'] = test_df['Name'].str.extract(r' ([A-Za-z]+)\.',expand=False)

In [39]:
test_df = pd.get_dummies(test_df, columns=['Sex', 'Embarked', 'Title', 'Deck'], drop_first=True)

In [40]:
X.columns

Index(['Pclass', 'Age', 'Fare', 'FamilySize', 'IsAlone', 'Sex_male',
       'Embarked_Q', 'Embarked_S', 'Title_Col', 'Title_Countess', 'Title_Don',
       'Title_Dr', 'Title_Jonkheer', 'Title_Lady', 'Title_Major',
       'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme', 'Title_Mr',
       'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir', 'Deck_B', 'Deck_C',
       'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Deck_U'],
      dtype='object')

In [41]:
test_df = test_df.reindex(columns=X.columns, fill_value=0)

In [42]:
# make prediction with trained model

test_pred = best_xgb.predict(test_df)

In [43]:
test_df.columns

Index(['Pclass', 'Age', 'Fare', 'FamilySize', 'IsAlone', 'Sex_male',
       'Embarked_Q', 'Embarked_S', 'Title_Col', 'Title_Countess', 'Title_Don',
       'Title_Dr', 'Title_Jonkheer', 'Title_Lady', 'Title_Major',
       'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme', 'Title_Mr',
       'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir', 'Deck_B', 'Deck_C',
       'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Deck_U'],
      dtype='object')

In [44]:
# generate a csv to upload to kaggle for evaluation 
test_df_original = pd.read_csv("test.csv")
submission = pd.DataFrame({
    'PassengerId': test_df_original['PassengerId'],
    'Survived': test_pred.astype(int)
})

submission.to_csv("submission.csv", index=False)